{% extends "base.html" %}
{% block title %}Produto{% endblock %}
{# ajusta as variáveis conforme novo ou edit #}
{% set id = result[0].id_produto if result else '0' %}
{% set nome = result[0].nome if result else '' %}
{% set descricao = result[0].descricao if result else '' %}
{% set foto = result[0].foto if result else '' %}
{% set valor_unitario = result[0].valor_unitario if result else '' %}
{% block content %}
<style>
body {
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

input, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

label {
    text-align: left;
    margin-bottom: 5px;
    display: block;
}

button {
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}
</style>
<form name="{{ 'formEditar' if result else 'formAdicionar' }}"
id="{{ 'formEditar' if result else 'formAdicionar' }}"
action="{{ url_for('produto.edit') if result else url_for('produto.insert') }}"
method="POST" enctype="multipart/form-data">
<h1>Produto - {{ "%s: %s" % ('Editar Registro', id) if result else 'Novo' }}</h1>
    <label for="id">Código do produto</label>
    <input type="text" name="id" id="id" value="{{ id }}">
    <br>
    <label for="nome">Nome Produto</label>
    <input type="text" name="nome" id="nome" value="{{ nome }}" >
    <br>
    <label for="descricao">Descricão</label>
    <input type="text" name="descricao" id="descricao" value="{{ descricao }}" >
    <br>
    <label for="foto">Imagem</label>
    <input type="file" name="foto" accept="image/*" id="foto" value="{{ foto }}">
    <br>
    <label for="valor_unitario" class="form-label">Valor unitário</label>
    <input type="number" name="valor_unitario" id="valor_unitario" value="{{ valor_unitario }}" step="0.01" min="0" placeholder="0.00">
    <br>
    <span id="message"></span>
    <button type='submit' name='salvaUsuarioDB' id='salvaUsuarioDB'><i class='fas fa-save'></i> Salvar</button>
</form>

{% endblock %}
