{% extends "base.html" %}
{% block title %}Cliente{% endblock %}
{% block content %}
    <form action="{{ url_for('produto.formProduto') }}" method="GET">
        <h1>Produtos</h1>
        <button type="submit" name="formNovo">Novo Produto</button>
    </form>
    <table>
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Descrição</th>
                <th scope="col">Foto</th>
                <th scope="col">Valor Unitario</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">...</th>
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td><i class="fas fa-edit"></i></td>
                <td><i class="fas fa-trash"></i></td>
            </tr>

        </tbody>
    </table>
{% endblock %}
