{% extends "base.html" %}

{% block title %}Home{% endblock %}


{% block content %}

<style>
    h1 {
        color: #333;
        text-align: center;
    }

    .important {
        font-weight: bold;
        color: #3498db;
        text-align: center;
    }

    ul {
        list-style-type: none;
        padding: 0;
        text-align: center;
    }

    li {
        display: inline-block;
        margin: 10px;
    }

    a {
        text-decoration: none;
        color: #333;
        padding: 10px;
        border: 1px solid #333;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    a:hover {
        background-color: #f2f2f2;
    }
</style>
<h1>HOME</h1>
{% if 'login' in session %}
Bem-vindo <b>{{ session['login'] }}</b>
{% endif %}
<p class="important">Seja bem vindo!</p>
    <ul>

        <li><a href="{{ url_for('index.formListaIndex') }}">Home</a></li>
        <li><a href="{{ url_for('funcionario.formListaFuncionario') }}">Funcionário</a></li>
        <li><a href="{{ url_for('cliente.formListaCliente') }}">Cliente</a></li>
        <li><a href="{{ url_for('produto.formListaProduto') }}">Produto</a></li>

    </ul>
{% endblock %}